.button{
    height:50px;
    border-radius: 8PX;
    -webkit-border-radius: 8PX;
    -moz-border-radius: 8PX;
    -ms-border-radius: 8PX;
    -o-border-radius: 8PX;
    font-weight: 500;
    background-color: #835afa;
    color: #fff;
    padding:0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:0;
    
    transition:filter 0.2s;

    img{
        margin-right: 8px;
    }

    & .outlined{
        border:1px solid #835afd;
        color:#835afd;
        background-color: #fff;
    }

    &:not(:disabled):hover{
        filter: brightness(0.9);
        -webkit-filter: brightness(0.9);
    }

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }

}